# Ignore specific large CSV files
data
!for_us/data
for_us/data/Airline\ Delay\ Data\ (+Weather)/DelayData.csv
for_us/data/Flight\ Delay\ and\ Cancellation\ Dataset/flights_sample_3m.csv
for_us/data/Largest\ Cities\ US\ Weather/largest_us_cities_weatherdata_2020_2023.csv
/.kaggle/kaggle.json
airflow/logs
